.escopeta{
  position: absolute;
  align-content: center;
  justify-content: center;
  font-size: 40opx;
  width: 320px;
  height: 320px;
  right: 5%;
  z-index: -6;
}
 .pixel{
   background-color: red;
   width: 2px;
   height: 2px;
 }
#pixel1{
  background-color:  #959791;
  position: fixed;
  top:50%;
  left:51.5%;
}
#pixel2{
  background-color:  #959791;
  position: fixed;
  top:49.3%;
  left:51.5%;
}

#pixel3{
  background-color:  #6F7872;
  position: fixed;
  top:50%;
  left:50.9%;
}
#pixel4{
  background-color:#6F7872;
  position: fixed;
  top:49.3%;
  left:50.9%;
}
#pixel5{
  background-color:  #5A5D5B;
  position: fixed;
  top:50%;
  left:50.4%;
}
#pixel6{
  background-color:  #5A5D5B;
  position: fixed;
  top:49.3%;
  left:50.4%;
}
#pixel7{
  background-color:  #4D504E;
  position: fixed;
  top:50%;
  left:49.8%;
}
#pixel8{
  background-color:  #4D504E;
  position: fixed;
  top:49.3%;
  left:49.8%;
}
#pixel9{
  background-color:  #383A38;
  position: fixed;
  top:50%;
  left:49.3%;
}
#pixel10{
  background-color:  #383A38;
  position: fixed;
  top:49.3%;
  left:49.3%;
}
.culata{
  position: absolute;
  top: 87%;
  left: 38%;
  height: 30px;
  width: 40px;
  clip-path: polygon(50% 0%, 100% 38%, 86% 100%, 18% 100%, 0 40%);
}
#pixel12{
  background-color: #2D2B2B;
  position: absolute;
  top:79%  ;
  left:40% ;
}
#pixel13{
  background-color: #2D2B2B;
  position: absolute;
  top:71.8%  ;
  left:40% ;
}
#pixel14{
  background-color: #1A1616;
  position: absolute;
  top:79%  ;
  left:35.1% ;
}
#pixel15{
  background-color: #1A1616;
  position: absolute;
  top:79%  ;
  left:37.4% ;
}
#pixel16{
  background-color: #1A1616;
  position: absolute;
  top:72%  ;
  left:37.4% ;
}
#pixel17{
  background-color: #1A1616;
  position: absolute;
  top:71.6%  ;
  left:35% ;
}
#pixel18{
  background-color: #1A1616;
  position: absolute;
  top:65.9%  ;
  left:37.4% ;
}
#pixel19{
  background-color: #1A1616;
  position: absolute;
  top:65.9%  ;
  left:40.1% ;
}
#pixel20{
  background-color: #1A1616;
  position: absolute;
  top:79%  ;
  left:29.9% ;
}
#pixel21{
  background-color: #1A1616;
  position: absolute;
  top:79%  ;
  left:32.6% ;
}
#pixel22{
  background-color: #1A1616;
  position: absolute;
  top:71.9%  ;
  left:32.4% ;
}
#pixel23{
  background-color: #1A1616;
  position: absolute;
  top:71.9%  ;
  left:30.2% ;
}
#pixel24{
  background-color: #1A1616;
  position: absolute;
  top:65.8%  ;
  left:35% ;
}
#pixel25{
  background-color: #1A1616;
  position: absolute;
  top:65.8%  ;
  left:34.2% ;
}
#pixel26{
  background-color: #1A1616;
  position: absolute;
  top:65.8%  ;
  left:33.4% ;
}
#pixel27{
  background-color: #1A1616;
  position: absolute;
  top:65.8%  ;
  left:32.6% ;
}
#pixel28{
  background-color: #1A1616;
  position: absolute;
  top:65.8%  ;
  left:30% ;
}